<html>
Wow Cher(e) client(e) ! <br/><br/>
Whooo !! <br/>
Faites-vous plaisir au royaume du canapé ! <br/>
(Oh Yeah) <br/>
Des affaires sans faire rougir le porte monnaie !! (ohoho)<br/>
En cuir, on compte, en buffle, en daim, en plus les prix ils sont trop biens. <br/>
Où ça ? Chez Canapi ! <br/> 
Où ça ? Des canapés ! <br/>
A gauche, des canapés ! <br/>
A droite, des canapés ! <br/>
Devant, la porte d'entrée ! <br/>
Derrière, les sanitaires ! <br/>
Et si vous trouvez moins cher ailleurs, Canapi vous offre ce fabuleux guéridon Marie-Antoinette en acajou massif ! <br/><br/>

Confortablement vôtre, <br/>

<a href="https://www.youtube.com/watch?v=xB3J-v5g6dc">CLIQUE POUR DECOUVRIR NOTRE TOUTE NOUVELLE PUB EN AVANT PREMIERE ! (featuring The Rock ) </a>
Canapi
